.card {
    height: 60%;
    max-height: 40rem;
    width: 60%;
    max-width: 40rem;
    margin: 2rem auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}